<nav class="navbar navbar-expand-lg bg-body-tertiary nav-conatiner">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Angular Assignment</a>
        <ul class="nav navbar-nav navbar-right icon-container">
            <li><a href="https://github.com/sagargse" target="_blank"><img class="icons" src="../../assets/icons/github.png" alt="github" /></a></li>
            <li><a href="https://www.linkedin.com/in/sagar-raj-a910711b2/" target="_blank"><img class="icons" src="../../assets/icons/linkedin.png" alt="linkedin" /></a></li>
        </ul>
    </div>
</nav>