<footer class="text-center text-white footer-container">
    <div class="container">
        <section>
            <a class="btn btn-link" href="https://github.com/sagargse" target="_blank"><img class="icons"
                    src="../../assets/icons/github.png" alt="github"></a>

            <a class="btn btn-link" href="https://www.linkedin.com/in/sagar-raj-a910711b2/" target="_blank"><img
                    class="icons" src="../../assets/icons/linkedin.png" alt="linkedin"></a>
        </section>
    </div>
    <div class="text-center text-dark pb-1">
        © 2023 Copyright: sagargse
    </div>
</footer>