<header>
    <a href="#" class="toggle-menu fontawesome-reorder"></a>
    <!-- <h1>Title</h1> -->
</header>

<aside class="sidebar">
    <h3>Contents</h3>
    <nav>
        <ul *ngFor="let c of contents,let i= index">
            <li><a class="content-links text-light" routerLink="{{i}}">{{c}}</a></li>        
        </ul>
    </nav>
</aside>

<section class="main" *ngIf="this.router.url === '/0'">
    <app-crud></app-crud>
</section>
<section class="main" *ngIf="this.router.url === '/1'">
    <app-sample></app-sample>
</section>