<header>
    <a href="#" class="toggle-menu fontawesome-reorder"></a>
    <h1>Title</h1>
</header>

<aside class="sidebar">
    <h3>Contents</h3>
    <nav>
        <ul>
            <li class="active"><a href="" class="content-links text-light">Employee CRUD</a></li>
            <li><a href="" class="content-links text-light">Chapter 2</a></li>
            <li><a href="" class="content-links text-light">Chapter 3</a></li>
            <li><a href="" class="content-links text-light">Chapter 4</a></li>
            <li><a href="" class="content-links text-light">Chapter 5</a></li>
            <li><a href="" class="content-links text-light">Chapter 6</a></li>
            <li><a href="" class="content-links text-light">Chapter 7</a></li>
            <li><a href="" class="content-links text-light">Chapter 8</a></li>
            <li><a href="" class="content-links text-light">Chapter 9</a></li>
            <li><a href="" class="content-links text-light">Chapter 1</a>0</li>
        </ul>
    </nav>
</aside>

<section class="main">
    <app-crud></app-crud>
</section>