<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>group_work</mat-icon>
    </button>
    <span>Employee CRUD</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">Add Employee</button>
</mat-toolbar>
<div class="container">
    <div style="margin: 10px 0 60px 0;">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Sagar" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="employeeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.employeeName}} </td>
                </ng-container>

                <ng-container matColumnDef="mailid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Mail-Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.mailid}} </td>
                </ng-container>

                <ng-container matColumnDef="dob">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                    <td mat-cell *matCellDef="let row"> {{row.dob | date}} </td>
                </ng-container>

                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                    <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
                </ng-container>

                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                    <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="editEmployee(row)" color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteEmployee(row.id)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
    <div class="excel" style="display: flex; justify-content: center;">
        <button mat-fab extended color="primary" (click)="downloadReport()">
            <mat-icon>download</mat-icon>
            Download Report
        </button>
    </div>
</div>